.donation-modal {
  font-size: 18px;
}

.donation-modal p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.donation-modal .modal-title {
  font-size: 1.2rem;
}

.donation-form {
  display: flex;
  flex-direction: column;
  width:80%;
  justify-content: center;
  margin: 0 auto;
  height: 300px;
}

.donation-form input{
  color:#006400 !important; 
}

#donate-amount-panel ul {
  list-style: none;
  display: flex;
  margin-left: 0px;
}

#donate-amount-panel li {
  flex: 0.20;
  display: flex;
  justify-content: center;
  align-items: center;
}

#donate-amount-panel a {
  width: calc(100% - 20px);
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #006400;
}

#donate-amount-panel a:hover, #donate-amount-panel a:focus, #donate-amount-panel a.active {
  text-decoration: none;
  color: white;
  background-color: #006400;
  font-weight: bold;
}

.donation-elements {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

#donation-completion-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation-completion-buttons {
  display: flex;
  justify-content: flex-end;
}

.donation-completion-buttons button {
  margin: 0 10px;
}

.donation-email-container {
  font-size: 18px;
  width: 80%;
}

.donation-email-container label {
  display: flex;
  flex-direction: column;
}

.donation-email-container input {
  color: #006400;
  font-weight: normal;
}

.donation-email-container.form-group{
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.donation-email-container .form-control{
  font-size: 18px;
}



.maybe-later-container {
  width: 80%;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
}

.maybe-later-container a {
  font-size: 18px;
}

.maybe-later-container a:hover {
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

#confirm-donation-btn {
  font-size: 1.2rem;
  height: 75px;
}

.StripeElement--focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
